.page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    text-decoration: none;

    h1 {
      font-size: 1.75rem;
    };
  }
};

.info {
  display: flex;
  margin-top: 1rem;
  color: var(--info);

  svg {
    margin-right: 8px;
  };

  time, p {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem !important;
    margin-right: 1.125rem;
  };
};

.preview {
  width: 700px;
  background-color: white;
  font-family: "Inter", Arial, sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2rem;
  padding: 1.125rem;

  a {
    color: black;
  };

  transition: filter .2s;

  &:hover {
    cursor: pointer;
    filter: brightness(0.5);
  };
};